@mixin main-font {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@mixin main-font-bold($font) {
    font-size: $font;
    font-weight: 600;
    color: $main-font-bold;
}

@mixin header-info-text($color) {
    font-size: 11px;
    font-weight: 500;
    color: $color;
}

@mixin header-nav-text($color) {
    font-weight: 600;
    color: $color;
}

@mixin additional-font-big($color) {
    color: $color;
    font-size: 17px;
    font-weight: 600;
}

@mixin logo-style {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    font-weight: 400;
}

// * Common mixins
@mixin flex-all-center($space) {
    display: flex;
    justify-content: $space;
    align-items: center;
}

@mixin flexable-flex($justify-content, $align-items, $flex-flow-direction, $flex-flow-wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-flow: $flex-flow-direction, $flex-flow-wrap;
}
// * Hovers
@mixin social-icons-hover($color) {
    transition: all .5s ease-in;
    color: $color;
    &:hover {
        transform: rotateX(360deg);
    }
}

@mixin menu-item-hover($color) {
    transition: all .2s ease;
    &:hover {
        color: $color;
    }
}

// * Borders
@mixin grey-link-border($color) {
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    height: 32px;
    background-color: $color;
    transition: all .2s ease;

    &:hover {
        background-color: darken($color, 10);
    }
        
}

// * BTNs

@mixin item-trigger-btn {
    @include flexable-flex(flex-start, center, row, nowrap);
    height: 35px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(193, 204, 217);
    box-shadow: rgb(228, 231, 235) 0px 1px 1px 0px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px;
    white-space: nowrap;
}
    

