// !COLORS
// *Fonts colors
$mainfFontColor:        #222531;
$infoFontColor:         #58667E;
$additionalFontColor:   #1070E0;
$logoColor:             #F16E3E;
$additionalInfoColor:   #CFD6E4;
$main-font-bold:        #17181bd9;
$additionalFontGrey:    #27344080;

// *Backgrounds color
$nightModeBG:           #17171A;
$dayModeBG:             #fff;
$linkBorderBG:          #eff2f5;

//*Icons color
$facebookIconColor:     #0B83ED;
$linkedinIconColor:     #0099AD;
$increaseColor:         #16C7A4;
$decreaseColor:         #EA3943;

// *Borders
$mainTableBorder: 1px solid #EFF2F5;

// *Hovers
$hover-blue:            #406ce6;
$main-table-hover:           rgba(224, 224, 245, 0.2);
