// !COLORS
// *Fonts colors
$mainfFontColor:        #222531;
$infoFontColor:         #58667E;
$additionalFontColor:   #1070E0;
$logoColor:             #F16E3E;

// *Backgrounds color
$nightModeBG:           #17171A;
$dayModeBG:             #fff;
$linkBorderBG:          #eff2f5;

//*Icons color
$facebookIconColor:     #0B83ED;
$linkedinIconColor:     #0099AD;
